<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>9P7CJ3Z2B8</string>
	<key>uploadBitcode</key>
	<true/>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution: Vishal Singh</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>indie.bulty.XO3</key>
		<string>ed8a8eca-69e3-4f9b-ac13-4a9157838e47</string>
	</dict>
</dict>
</plist>
